	html {
		overflow-y: hidden;
		overflow-x: hidden;
		height: 100%;
	}
	body {
		height: 95%;
		-webkit-animation: colorChange 30s infinite linear;

	}
	@-webkit-keyframes colorChange {
		from {
		}
		to {
			background: lightsalmon;
		}
	}

	h2 {
		margin-bottom: 1.5rem;

		font-size: 3rem;
		font-weight: 100;
		line-height: 1;
		letter-spacing: -.05em;
	}

	#footer {
		clear: both;
		position: relative;
		z-index: 1000;
		height: 3em;
		margin-top: -3em;
		text-align: center;
		vertical-align: middle;
	}

	.copyright {
		font-family:sans-serif,verdana;
		font-size:18pt;
		color: #f35626;
		background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-animation: hue 5s infinite linear;
	}
	@-webkit-keyframes hue {
		from {
			-webkit-filter: hue-rotate(0deg);
		}
		to {
			-webkit-filter: hue-rotate(-360deg);
		}
	}

	.animated {
		-webkit-animation: rubberBand 5s infinite linear;
	}

	@-webkit-keyframes rubberBand {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}

		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}

		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}

		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}

		65% {
			-webkit-transform: scale3d(.95, 1.05, 1);
			transform: scale3d(.95, 1.05, 1);
		}

		75% {
			-webkit-transform: scale3d(1.05, .95, 1);
			transform: scale3d(1.05, .95, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
	img.mainmon {
		position: absolute;
		top:  300px;
		left: 600px;

	}
	img.minimon {
		position: absolute;
		top:  0px;
		left: 0px;
	}
 	#stage {
 		position: relative;
		 margin: 1em auto;
		 width: 100%;
		 height: 100%;
	 }

	div#frame_rate {
		color: #1f0bcc;
		font-size: 42px;
		font-weight: bold;
	}

  	div#monverse {
 		position: relative;
		width: 100%;
		height: 100%;
	 }

	#traveler {
		position: absolute;

		-webkit-animation-name: travel;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		-webkit-animation-duration: 5.8s;
		animation-name: travel;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-duration: 5.8s;
	}

	#bouncer {
		position: absolute;
		-webkit-animation-name: bounce;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 5.2s;
		animation-name: bounce;
		animation-iteration-count: infinite;
		animation-duration: 5.2s;
	}
	@-webkit-keyframes travel {
		from {
		}
		to {
			left: 100%;
 			margin-left: -50px;
		}
	}
	@-webkit-keyframes bounce {
		from, to  {
			bottom: 10%;
			margin-bottom: -50px;
			-webkit-animation-timing-function: ease-out;
		}
		50% {
			bottom: 100%;
			margin-bottom: -50px;
			-webkit-animation-timing-function: ease-in;
		}
	}
